a {
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
  a:hover{
    background-color: white;
  }
  a:visited{
    color: black;
  }

.frame1 {
    width: 40%;
    height: 50vh;
    border: purple 0px solid;
    background-color: rgb(195, 96, 146)
}

.frame2 {
    float: right;
    width: 20%;
    height: 90vh;
    margin-top: 5vh;
    border: purple 0px solid;
    background-color: rgb(58, 142, 153);
}

.frame3
{
    width: 45%;
    height: 55vh;
}
 
 #first{
    display: none;
 }

 #second{
     display: none;
 }

 #main{
     background-color: rgb(182, 168, 168);
 }

 body{
     font-family: monospace;
 }


 