body{
	margin: 0;
	padding: 0;
	background-color: #2c3a47;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loadingScreen{
	width: 100%;
	height: 100vh;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loading{
	width: 80px;
	display: flex;
	flex-wrap: wrap;
	animation: rotate 1.5s linear infinite;
}

@keyframes rotate{
	to{
		transform: rotate(360deg);
	}
}

.loading span{
	width: 30px;
	height: 30px;
	background-color: aliceblue;
	margin: 3px;
	animation: scale 1s linear infinite;
}

@keyframes scale{
	50%{
		transform: scale(1.2);
	}
}

.loading span:nth-child(1){
	border-radius: 50% 50% 0 50%;
	background-color: antiquewhite;
	transform-origin: bottom right;
}
.loading span:nth-child(2){
	border-radius: 50% 50% 50% 0;
	background-color: rgb(159, 199, 235);
	transform-origin: bottom left;
	animation-delay: .2s;
}
.loading span:nth-child(3){
	border-radius: 50% 0 50% 50%;
	background-color: rgb(178, 233, 233);
	transform-origin: top right;
	animation-delay: .4s;
}
.loading span:nth-child(4){
	border-radius: 0 50% 50% 50%;
	background-color: ghostwhite;
	transform-origin: top left;
	animation-delay: .6s;
}

#ghost{
	width: 150px;
	height: 170px;
	background-color: rgb(250, 250, 250);
	border-radius: 75px 75px 0px 0px;
	position: absolute;
	cursor: grab;
	animation: floating 3s infinite ease-in-out;
}

@keyframes floating{
	50%{
		transform: translateY(-30px);
	}
}

#face{
	width: 100px;
	position: absolute;
	top: 70px;
	left: calc(50% - 50px);
}

.eyes{
	height: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 15px;
}

.eyes span{
	width: 20px;
	height: 20px;
	background-color: rgb(24, 23, 23);
	border-radius: 50%;
	transition: .3s linear;
}

#ghost:hover .eyes span{
	height: 15px;
}

.mouth{
	width: 50px;
	height: 15px;
	background-color: rgb(24, 23, 23);
	margin: auto;
	border-radius: 20px 20px 10px 10px;
	transition: .3s linear;
}

#ghost:hover .mouth{
	height: 25px;
	border-radius: 0px 0px 20px 20px;
}

.hands{
	width: 190px;
	position: absolute;
	left: -20px;
	top: 80px;
	display: flex;
	justify-content: space-between;
}

.hands span{
	width: 30px;
	height: 30px;
	background-color: rgb(250, 250, 250);
}

.hands span:first-child{
	border-radius: 20px 0 0 20px;	
}

.hands span:last-child{
	border-radius: 0 20px 20px 0;
}

.feet{
	position: absolute;
	width: 100%;
	bottom: -20%;
	display: flex;
}

.feet span{
	flex: 1;
	height: 30px;
	background-color: rgb(250, 250, 250);
	border-radius: 0 0 20px 20px;
}

.feet span:first-child{
	border-radius: 0 0 40px 20px;	
}

.feet span:last-child{
	border-radius: 0 0 20px 40px;
}